includes:
    - /var/www/.composer/vendor/mglaman/phpstan-drupal/extension.neon
parameters:
    drupal:
        drupal_root: /var/www/html
    excludes_analyse:
        - *RoboFile.php
        - */tests/*
        - */Tests/*
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method Drupal\\Core\\Entity\\EntityInterface\:\:get\(\).#'
        - '#Call to an undefined method Drupal\\Core\\Entity\\EntityInterface\:\:hasField\(\).#'
        - '#Drupal\\ui_styles\\StylePluginManager must override __construct if using YAML plugins.#'
        - '#Plugin definitions cannot be altered.#'